.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 94px;
  height: 26px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: rgba(33, 33, 33, 1);
}
