.profile {
  display: flex;
  padding: 34px 0 20px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  height: 190px;
  width: 190px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  padding: 0;
  color: rgba(33, 33, 33, 1);
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-btn {
  margin-top: auto;
  padding: 0;
  display: flex;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  color: rgba(33, 33, 33, 1);
  background-color: #fcf5e5;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.profile__edit-btn:hover {
  opacity: 100%;
}
.profile__add-btn {
  margin: 138px 0 20px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 149px;
  height: 52px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  gap: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }
  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }
  .profile__description {
    margin: 0 0 32px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
